.point_mesh {
  cursor: pointer;
}
.satellite {
  color: grey;
}
.satellite_selected {
  color: #adff2f;
}
.loading,
.error {
  font-size: 1.2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Monitorica, 'Roboto', 'sans-serif';
  z-index: -1;
}
.loading_small_screen_wrapper {
  width: 100vw;
  height: calc(100vh - 100px);
}
.loading_small_screen {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgb(9, 0, 40);
}
.loading_small_screen_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.loading_moved {
  font-size: 1.2em;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-family: Monitorica, 'Roboto', 'sans-serif';
  transform: translate(-230px, -20px);
}
.loading {
  color: white;
}
.error {
  color: red;
}
