.icon {
  /* width: 27px;
  height: 27px; */
  width: 100%;
  height: 100%;
}
/* 
.css-v6mo1y-MuiTimelineDot-root {
  background-color: rgb(6, 6, 6);
}

.css-1ami7lv-MuiTimelineConnector-root {
  display: none;
} */
