@font-face {
  font-family: 'Monitorica';
  src: local('Monitorica'),
    url('./resources/fonts/Monitorica-Rg.otf') format('truetype');
  font-weight: regular;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  background-color: black;
  font-family: Monitorica, 'Roboto', 'sans-serif';
}
